
.container2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group input[type="file"] {
    width: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button[type="reset"] {
    background-color: #dc3545;
}

.button-group button:hover {
    opacity: 0.9;
}