body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.navbar{
    background-color: #003366;
    height: 50px;
    border-radius: 3px;
}

.navbar-brand{
    align-items: flex-end;
}
.user-profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.notification-icon {
    margin-right: 0px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-profile .bi {
    margin-right: 10px;
    font-size: 1em;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Estilo para o Dropdown */
.dropdown-menu {
    background-color: #ffffff; /* Define a cor de fundo do menu igual à navbar */
    border: none; /* Remove a borda do menu */
    border-radius: 5px; /* Define o arredondamento das bordas */
}

.dropdown-item {
    color: #003366; /* Define a cor do texto do menu */
    padding: 10px 20px; /* Ajuste o espaçamento do texto */
    font-weight: normal; /* Define o peso do texto */
}

.dropdown-item:hover {
    background-color: #d3d3d3; /* Define a cor do hover */
}
.dropdown-toggle {
    background-color: #003366; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    box-shadow: none; /* Remove a sombra do botão */
    border: none;
}

.container {
    display: flex;
    height: 120vh;
}

.sidebar {
    background-color: #003366;
    color: white;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    height: 650px;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.sidebar li a:hover {
    background-color: #003366;
}

.sidebar li svg {
    margin-right: 10px;
}

.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    width: 810px;
}

.main h2 {
    margin-bottom: 20px;
    text-align: center; /* Centraliza horizontalmente */

}

.user-profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-profile .user-name {
    font-weight: bold;
    color: #ffffff;
}


.container2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group input[type="file"] {
    width: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button[type="reset"] {
    background-color: #dc3545;
}

.button-group button:hover {
    opacity: 0.9;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
    width: 110%;
}

.logo img {
    width: 200px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}



