body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

/* Css Navbar*/
.navbar{
    background-color: #003366;
    height: 50px;
    border-radius: 3px;
}

.navbar-brand{
    align-items: flex-end;
}

.container {
    display: flex;
    height: 120vh;
}
.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
}

.main h2 {
    margin-bottom: 20px;
    text-align: center; /* Centraliza horizontalmente */

}

.notification-icon {
    margin-right: 0px;
}
.user-profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-profile .user-name {
    font-weight: bold;
    color: #ffffff;
}

.user-profile .bi {
    margin-right: 10px;
    font-size: 1em;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}
img{
    width: 340px;
    height: 225px;
}

/* Estilo para o Dropdown */
.dropdown-menu {
    background-color: #ffffff; /* Define a cor de fundo do menu igual à navbar */
    border: none; /* Remove a borda do menu */
    border-radius: 5px; /* Define o arredondamento das bordas */
}

.dropdown-item {
    color: #ffffff; /* Define a cor do texto do menu */
    padding: 10px 20px; /* Ajuste o espaçamento do texto */
    font-weight: normal; /* Define o peso do texto */

}

.dropdown-item:hover {
    background-color: #d3d3d3; /* Define a cor do hover */
}
.dropdown-toggle {
    background-color: #003366; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    box-shadow: none; /* Remove a sombra do botão */
    border: none;
}




/* Css Sidebar */
.sidebar {
    background-color: #003366;
    color: white;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    height: 880px; /* Adjust height as needed */
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.sidebar li a:hover {
    background-color: #003366;
}

.sidebar li svg {
    margin-right: 10px;
}

/* Main Content Styles */
.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* User Profile */
.user-profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-profile .user-name {
    font-weight: bold;
    color: #ffffff;
}


/* Form Styles */
.container2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 0 0 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group input[type="file"] {
    width: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button[type="reset"] {
    background-color: #dc3545;
}

.button-group button:hover {
    opacity: 0.9;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
    width: 110%;
}

.logo img {
    width: 200px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

/* CSS cadturma*/

.form-group .calendar-icon {
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.form-group .calendar-icon svg {
    width: 16px;
    height: 16px;
}


.form-group .add-icon {
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.form-group .add-icon svg {
    width: 16px;
    height: 16px;
}

/* Espaçamento entre o botão e o textarea */
.form-group > button {
    margin-bottom: 15px;
}

/* Centraliza os botões */
.form-group .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Estilos para os botões */
.btn-primary {
    background-color:#003366 !important;
    border-color: #003366 !important;
    color: white;
    border-radius: 5px;

}

.btn-primary-min {
    background-color:#008000 !important;
    border-color: #008000 !important;
    color: white;
    border-radius: 8px;
    padding: 7px 37px;
    font-size: 15px;


}

.btn-primary:hover {
    background-color: darken(#002244, 10%) !important;
    border-color: darken(#002244, 10%) !important;
    padding-left: 5px;
    padding-right: 5px;

}

.btn-secondary {
    background-color: #db0000 !important;
    border-radius: 8px;
    color: #ffffff;
    padding: 7px 37px;
    font-size: 15px;

}

.btn-secondary:hover {
    background-color: darken(#db0000, 10%) !important;
    border-color: darken(#ddd, 10%) !important;
}

/* Função para escurecer a cor */
@function darken($color, $amount) {
    $hsl =  hsl($color);
    $lightness = $hsl[3];
    $lightness -= $amount;
    @return hsl($hsl[1], $hsl[2], $lightness);
}

/* Estilos para o textarea */
.form-group textarea {
    resize: none;
}

/* Estilo para o campo de adicionar alunos */
.form-group .add-icon {
    display: flex;
    align-items: center;
}

.form-group .add-icon svg {
    margin-right: 10px;
}


.button-container {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    width: 100%;
}

.button-container button {
    margin: 0 10px; /* Adiciona margem para separar os botões */
}

/*CSS alterar*/
h1, p {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    font-size: 30px;
}

p {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 100px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    background-color: #003F72;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

button:hover {
    background-color: #0056b3;
}

img{
    width: 300px;
    height: 80px;
    padding-top: 50px;
}

/* CSS home*/
/* Define a altura mínima para o formulário de login e alinha-o ao centro da tela */
.no-gutters {
    margin: 0;
    padding: 0;

}

.container-fluid{
    align-items: center;
}
.row{
    width: 100%;
    height: 1000%;
}


.login-form {
    height: 90%;
    width: 100%;
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
}

#forgot-password {
    color: #003F72 ;
    text-decoration: none;
    align-items: end;
}

.button{
    background-color: #003F72;
    color: #fff;
}

#forgot-password:hover {
    text-decoration: underline;
}
.form-control{
    background-color: rgb(212, 212, 214);
}
.img-fluid {
    height: 90%;
    width: 100%;
    left: 1000%;
    max-width: 100vh;
    border-radius: 5px;


}

.btn{
    background-color: #003F72;
    color: #fff;
    width: 100%;

}

.img{
    height: 40%;
    width: 100%;
    align-items: center;
}


/* CSS home*/
/* Define a altura mínima para o formulário de login e alinha-o ao centro da tela */
.no-gutters {
    margin: 0;
    padding: 0;

}

.container-fluid{
    align-items: center;
}
.row{
    width: 100%;
    height: 1000%;
}


.login-form {
    height: 90%;
    width: 100%;
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
}

#forgot-password {
    color: #003F72 ;
    text-decoration: none;
    align-items: end;
}

.button{
    background-color: #003F72;
    color: #fff;
}

#forgot-password:hover {
    text-decoration: underline;
}
.form-control{
    background-color: rgb(212, 212, 214);
}
.img-fluid {
    height: 90%;
    width: 100%;
    left: 1000%;
    max-width: 100vh;
    border-radius: 5px;


}

.btn{
    background-color: #003F72;
    color: #fff;
    width: 100%;

}

.img{
    height: 40%;
    width: 100%;
    align-items: center;
}


/* CSS notificação*/


.notification {
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
}

.person-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.notification p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

/* CSS telaAdm aluno e prof */


.flex-container {
    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 30px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


.box {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box i {
    margin-right: 10px;
    font-size: 1.5em;
}
/* Ajusta a margem entre os contêineres */
.flex-container > .box {
    margin: 0 10px; /* Margem horizontal de 10px */
}

/* Remove margem extra nas bordas */
.flex-container > .box:first-child {
    margin-left: 10;
}

.flex-container > .box:last-child {
    margin-right: 0;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%; /* Faz o elemento ser um círculo */
    margin-right: 20px; /* Espaço entre o círculo e o conteúdo */
}


/* CSS
