body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}
.navbar{
    background-color: #003366;
    height: 50px;
    border-radius: 3px;
}

.navbar-brand{
    align-items: flex-end;
}

.container {
    display: flex;
    height: 120vh;
}

.sidebar {
    background-color: #003366;
    color: white;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.sidebar li a:hover {
    background-color: #003366;
}

.sidebar li svg {
    margin-right: 10px;
}

.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
}

.main h2 {
    margin-bottom: 20px;
    text-align: center; /* Centraliza horizontalmente */

}

.user-profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.notification-icon {
    margin-right: 0px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-profile .bi {
    margin-right: 10px;
    font-size: 1em;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Estilo para o Dropdown */
.dropdown-menu {
    background-color: #ffffff; /* Define a cor de fundo do menu igual à navbar */
    border: none; /* Remove a borda do menu */
    border-radius: 5px; /* Define o arredondamento das bordas */
}

.dropdown-item {
    color: #003366; /* Define a cor do texto do menu */
    padding: 10px 20px; /* Ajuste o espaçamento do texto */
    font-weight: normal; /* Define o peso do texto */
}

.dropdown-item:hover {
    background-color: #d3d3d3; /* Define a cor do hover */
}
.dropdown-toggle {
    background-color: #003366; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    box-shadow: none; /* Remove a sombra do botão */
    border: none;
}

img{
    width: 230px;
    height: 120px;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 30px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


.box {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box i {
    margin-right: 10px;
    font-size: 1.5em;
}
/* Ajusta a margem entre os contêineres */
.flex-container > .box {
    margin: 0 10px; /* Margem horizontal de 10px */
}

/* Remove margem extra nas bordas */
.flex-container > .box:first-child {
    margin-left: 10;
}

.flex-container > .box:last-child {
    margin-right: 0;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%; /* Faz o elemento ser um círculo */
    margin-right: 20px; /* Espaço entre o círculo e o conteúdo */
}