<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="alterar.css">
</head>
<body>
<div class="container">
    <img src="/assets/img/senai2.png" alt="Imagem de Login" class="img">
    <br>
    <br>
    <br>
    <h1>Esqueci minha senha</h1>
    <p>Insira o E-mail</p>
    <input type="text" placeholder="E-mail">
    <button type="submit">Confirmar</button>
</div>
</body>
</html>
