<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trocar senha</title>
    <link rel="stylesheet" href="/assets/css/recuperar.css">
</head>
<body>
<div class="container">
    <div class="img-container">
        <img src="/assets/img/senai2.png" alt="Imagem de Login" class="img">
    </div>
    <br>
    <h1>Trocar Senha</h1>
    <p>Nova Senha</p>
    <input type="text" placeholder="Código">
    <p>Confirmar</p>
    <input type="text" placeholder="Código">
    <div class="button-container">
        <button type="submit">Trocar Senha</button>
    </div>
</div>
</body>
</html>