<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pt-BR">
<head>
    <title>SENAI - Cadastro de Professor</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>

<br><br><br>
<div class="container">

    <!-- fragments nav -->
    <div th:replace="~{/fragments/nav.html :: nav}"></div>
    <!-- fragments sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>


    <div class="flex-container">
        <div class="box" class="circle">
            <i class="bi bi-arrow-return-left"></i>
            Registros Retornados
        </div>
        <div class="box" class="circle">
            <i class="bi bi-hourglass-split"></i>
            Registros Pendentes
        </div>
    </div>

</div>

</div>
</div>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>
</body>
</html>

