<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI - PROFESSOR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/telaprof.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
<nav class="navbar col-14 m-auto navbar-expand-lg position-fixed bg-body-tertiary fixed-top" style="z-index:999;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end id="navbarNavAltMarkup>
            <div class="navbar-nav" >

                <div class="user-profile ml-auto">
                    <span class="notification-icon">
                        <i class="bi bi-bell-fill"></i>
                    </span>
                    <img src="https://img.icons8.com/color/48/000000/user-male-circle.png" alt="Avatar" class="rounded-circle">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alfred Homes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="#">Configurações</a>
                            <a class="dropdown-item" href="#">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>
<br><br><br>
<div class="container">

    <div class="sidebar">
        <div class="logo">
            <img src="senai.png" alt="SENAI Logo" class="img">
        </div>
        <br>
        <ul>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6V13.5A1.5 1.5 0 0 0 1.5 15h13a1.5 1.5 0 0 0 1.5-1.5V7.293l-6-6z"/>
                <path d="M14.778 2.733c-.63 0-1.212.386-1.593.882l-.597.863L8.281 1.411l-.771.697L2.667 6.955c-.38.41-.655 1.03-.867 1.782V13.5A1.5 1.5 0 0 0 1.5 15h13a1.5 1.5 0 0 0 1.5-1.5V7.293l-.593-.863L13.178 2.733z"/>
                <path d="M16 8.687V13.5a2.5 2.5 0 0 1-2.5 2.5H1a2.5 2.5 0 0 1-2.5-2.5V8.687c0-.67.244-1.314.735-1.81l7.55-7.55c.28-.28.735-.28.993 0l7.55 7.55c.491.491.735 1.14.735 1.81z"/>
            </svg> Início</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1 0 1 1zm5-14s1 0 1 1-1 0-1-1zm-11 5c0 1 1 1 1 1h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v4c0 1 1 1 1 1z"/>
            </svg> Cursos</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 2.083-1.248 2.827v1.047l.791.791h9.523l.791-.791V8.827a4.998 4.998 0 0 0-1.248-2.827 1 1 0 0 0-1.99 0z"/>
            </svg> Notificações</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                <path d="M8 5.5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708L8.5 10.293V14.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.5a.5.5 0 0 1 .5-.5h2z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z"/>
                <path d="M1 5v.5h14V5H1zm0 2.5v.5h14V7.5H1z"/>
            </svg> Registros de ocorrência</a></li>
        </ul>
    </div>


    <div class="flex-container">
        <div class="box" class="circle">
            <i class="bi bi-arrow-return-left"></i>
            Registros Retornados
        </div>
        <div class="box" class="circle">
            <i class="bi bi-hourglass-split"></i>
            Registros Pendentes
        </div>
    </div>

</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>








</body>
</html>

