<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pt-BR">
<head>
    <title>SENAI - Cadastro de Alunos</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>

<br><br><br>
<div class="container">

    <!-- fragments nav -->
    <div th:replace="~{/fragments/nav.html :: nav}"></div>
    <!-- fragments sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div></div>

<div class="main">
        <div class="container2">
            <h1>Ficha de Aluno</h1>

            <div class="form-group">
                <label for="foto">Foto do Aluno:</label>
                <input type="file" id="foto" name="foto">
                <img id="foto-preview" src="#" alt="Pré-visualização da foto" style="display: none;">

            </div>
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome completo">
            </div>

            <div class="form-group">
                <label for="turma">Turma:</label>
                <input type="text" id="turma" name="turma" placeholder="Digite a turma">
            </div>

            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" placeholder="Digite o endereço">
            </div>

            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" placeholder="Digite o telefone">
            </div>

            <div class="form-group">
                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula">
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite o e-mail">
            </div>

            <div class="form-group">
                <textarea class="form-control mt-3" rows="5" placeholder="Registro"></textarea>
            </div>

        </div>
    </div>



</div>

</body>
</html>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>

