
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pt-BR">
<head>
    <title>SENAI - Cadastro Turma</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
    <link rel="stylesheet" href="/assets/css/style.css">


</head>
<body>

<br><br><br>
<div class="container">

    <!-- fragments nav -->
    <div th:replace="~{/fragments/nav.html :: nav}"></div>
    <!-- fragments sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="main">

        <h2>Cadastro de Turma</h2>
        <form action="#" th:action="@{/turma/inserir}" th:object="${turma}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome-turma">Nome da turma:</label>
                    <input class="form-control" id="nome-turma" placeholder="Nome da Turma" th:field="*{curso}"
                           type="text">
                </div>

                <div class="form-group col-md-6">
                    <label for="docente">Docente:</label>
                    <input type="text" class="form-control" id="docente" placeholder="Nome do Docente" th:field="*{docente}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="periodo">Período:</label>
                    <input type="text" class="form-control" id="periodo" placeholder="Período" th:field="*{periodo}">
                </div>
                <div class="form-group col-md-3">
                    <label for="inicio-curso">Início do curso:</label>
                    <div class="input-group">

                        <input type="date" class="form-control" id="inicio-curso" style="width: 200px" th:field="*{dataInicio}">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="final-curso">Final do curso:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">


                                </svg></span>
                        </div>
                        <input type="date" class="form-control" id="final-curso" style="width: 200px" th:field="*{dataConclusao}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 .5-.5z"/>
                </svg> Adicionar alunos</button>
                <textarea class="form-control" rows="5" placeholder="Nome do aluno"></textarea> </div>

            <div class="form-group">
                <div class="button-container">
                    <button class="btn-secondary">Cancelar</button>
                    <button class="btn-primary-min">Salvar</button>
                </div>
            </div>

        </form>

    </div>
</div>
</body>
</html>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>


