<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluindo CSS personalizado -->
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <!-- Formulário de Login -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">

            <form class="login-form" >
                <h2 class="text-center">Conecte-se</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
                </div>
                <div class="text-center mt-2">
                    <a href="#" id="forgot-password">Esqueci minha senha</a>
                </div>
                <br>
                <button type="submit" class="btn">Entrar</button>

            </form>
        </div>
        <!-- Imagem -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <img src="/assets/img/loginRo.png" alt="Imagem de Login" class="img-fluid">
        </div>
    </div>
</div>
</body>
</html>
