<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI - Cadastro de Aluno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<!-- fragments nav -->
<div th:replace="~{/fragments/nav.html :: nav}"></div>
<br><br><br>
<div class="container-fluid"> <div class="row">

    <!-- fragments sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>

    <div class="col-md-9">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-outline-light voltar-button" type="button">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-light me-2 turma-button" type="button">
                                TI-DEV-1A/Integral
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-light" type="button">
                                <i class="bi bi-plus-circle"></i> Adicionar Aluno
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4" th:each="aluno : ${alunos}">
                                        <div class="card card-post card-round">
                                            <img
                                                    class="card-img-top"
                                                    src="icon.png"
                                                    th:src="@{/assets/img/fotos-alunos/{id}(id=${aluno.foto})}"
                                                    alt="Card image cap"
                                            />
                                            <div class="card-body">
                                                <div class="d-flex">
                                                </div>
                                                <div class="separator-solid"></div>
                                                <h3 class="card-title">
                                                    <a href="#"> <span th:text="${aluno.nome}">Nome</span> </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="listagem.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>