<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pt-BR">
<head>
    <title>SENAI - Cadastro de Aluno</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>

<br><br><br>
<div class="container">

    <!-- fragments nav -->
    <div th:replace="~{/fragments/nav.html :: nav}"></div>
    <!-- fragments sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>

    <div class="col-md-9">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-outline-light voltar-button" type="button">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-light me-2 turma-button" type="button">
                                TI-DEV-1A/Integral
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-light" type="button">
                                <i class="bi bi-plus-circle"></i> Adicionar Aluno
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4" th:each="aluno : ${alunos}">
                                        <div class="card card-post card-round">
                                            <img
                                                    class="card-img-top"
                                                    src="icon.png"
                                                    th:src="@{/assets/img/fotos-alunos/{id}(id=${aluno.foto})}"
                                                    alt="Card image cap"
                                            />
                                            <div class="card-body">
                                                <div class="d-flex">
                                                </div>
                                                <div class="separator-solid"></div>
                                                <h3 class="card-title">
                                                    <a href="#"> <span th:text="${aluno.nome}">Nome</span> </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>